// main: assets.scss

&.tank {
    position: absolute;
    top: 0;

    &.clickable {
        cursor: auto;
        .tank {
            cursor: pointer;
        }
    }
}

.tank {
    border: $border-width-tank solid $color-basic;
    width: 100%;
    height: 100%;
    position: relative;

    &.fluid {
        &>span.fluid {
            height: 70%;

            &::before {
                opacity: 1;
            }
        }

    }

    &>span.fluid {
        width: 100%;
        height: 0%;
        height: 70%; // FIXME remove that
        transition: height 500ms;
        color: $color-basic;
        position: absolute;
        bottom: 0;
        $size: 25px;
        font-size: $size;
        background: $color-active-1; // FIXME remove that


        &::before {
            content: attr(data-temp);
            transition: opacity 250ms;
            opacity: 0;
            opacity: 1; // FIXME remove that
            position: absolute;
            padding: 0 10px;
            right: 100%;
        }
    }

    &.liquid-1 > span.fluid {
        background: $color-active-1;
    }

    &.liquid-2 > span.fluid {
        background: $color-active-2;
    }

    &.liquid-3 > span.fluid {
        background: $color-active-3;
    }
}
